.test {
	border: 1px solid #ff0000;
}


body {
	/* font-family: 'Kanit', sans-serif; */
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	font-weight: 300;
	background-color: #041732;
}

:focus-visible {
	outline: none;
}

p {
	margin-bottom: 0;
}

.space-content {
	padding-top: 60px;
}

.space-padding {
	padding: 80px 0;
}
.font-kanit{font-family: 'Kanit', sans-serif;}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.f-12 {
	font-size: clamp(0.625rem, 0.556rem + 0.3448vw, 0.75rem);
}

.f-14 {
	font-size: clamp(0.75rem, 0.681rem + 0.3448vw, 0.875rem);
}

.f-16 {
	font-size: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
}

.f-18 {
	font-size: clamp(1rem, 0.931rem + 0.3448vw, 1.125rem);
}

.f-20 {
	font-size: clamp(1.125rem, 1.056rem + 0.3448vw, 1.25rem);
}

.f-22 {
	font-size: clamp(1.25rem, 1.181rem + 0.3448vw, 1.375rem);
}

.f-28 {
	font-size: clamp(1.375rem, 1.1681rem + 1.0345vw, 1.75rem);
}

.f-34 {
	font-size: clamp(1.75rem, 1.5431rem + 1.0345vw, 2.125rem);
}

.f-32 {
	font-size: clamp(1.375rem, 1.0302rem + 1.7241vw, 2rem);
}

.f-38 {
	font-size: clamp(2.125rem, 1.9871rem + 0.6897vw, 2.375rem);
}

.f-42 {
	font-size: clamp(2.375rem, 2.2371rem + 0.6897vw, 2.625rem);
}

.f-46 {
	font-size: clamp(2.3rem, 2.3rem + 0.6897vw, 2.875rem);
}

.sd-1 {
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.tr-title {
	color: #002883;
	text-align: center;
	background-color: #d5d5d5;
}

.tbodyDiv {
	max-height: 450px;
	overflow: auto;
	border-bottom: 1px solid;
}

ul.submit-desction {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 16px;
}

ul.submit-desction li::before {
	content: "-";
	padding-right: 11px;
	margin-left: -16px;
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	box-shadow: 0 0 0 0rem rgba(49, 132, 253, 0);
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}

.back-to-top {
	position: fixed;
	display: none;
	right: 24px;
	bottom: 24px;
	z-index: 99;
}

h1.title-menu-content {
	letter-spacing: 8px;
	text-transform: uppercase;
	font-size: clamp(1.20rem, 4vw, 1.75rem);
	/*28px*/
}

.content-title {
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.gradient-01 {
	background: -webkit-linear-gradient(315deg, #007BEC 15%, #15FC7E, #00E5FF, #A9D284);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-02 {
	background: -webkit-linear-gradient(360deg, #007BEC 45%, #15FC7E, #00E5FF, #A9D284);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-03 {
	background: -webkit-linear-gradient(360deg, #007BEC, #15FC7E, #00E5FF, #A9D284);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.content-title-blue {
	color: #003565;
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.content-title-white {
	color: #ffffff;
	margin-bottom: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

color-green-italic {
	color: #15FC7E;
	font-weight: 300;
	font-style: italic;
	font-size: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
}

color-green {
	color: #15FC7E;
}

blue {
	color: #007BEC
}

.color-light-blue {
	color: #55EBFF;
	letter-spacing: 0.25em;
	font-size: clamp(0.875rem, 0.806rem + 0.3448vw, 1rem);
}

.blocks-content01 {
	background: url(../images/background-content01.png) no-repeat top center;
	background-attachment: fixed;
	background-size: cover;
}

.blocks-content02 {
	background: url(../images/background-content02.png) no-repeat top center;
	background-size: cover;
}

.animation-UpDown {
	animation: moveUpDown 4s linear infinite;
}

@keyframes moveUpDown {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(6px);
	}

	100% {
		transform: translateY(0);
	}
}

/*Forms Light */
.form-control.form-light {
	border-radius: 0 !important;
	color: #0B2654;
	font-family: inherit !important;
	font-size: 1rem !important;
	background: #ffffff !important;
	border: 1px solid #ffffff !important;
	font-weight: 300 !important;
	margin-bottom: 12px;
}

.form-control.form-light:focus {
	box-shadow: none;
	color: #0B2654;
	font-weight: 300 !important;
}

.form-control.form-light::placeholder {
	color: #0B2654 !important;
	opacity: 0.85 !important;
	font-weight: 300 !important;

}

/*Forms Dark*/
.forms-meet-ourteam {
	padding: 0 60px;
}

.form-control.form-dark {
	border-radius: 0 !important;
	color: #ffffff;
	font-family: inherit !important;
	font-size: 1rem !important;
	background: #06142D !important;
	border: 1px solid #0E2756 !important;
	font-weight: 200 !important;
	margin-bottom: 12px;
}

.form-control.form-dark:focus {
	box-shadow: none;
	color: #ffffff;
	font-weight: 200 !important;
}

.form-control.form-dark::placeholder {
	color: #FFFFFF !important;
	opacity: 0.85 !important;
	font-weight: 200 !important;

}

.form-hight {
	height: 48px;
	font-size: 1.125rem;
}

.button-submit {
	font-size: clamp(1.25rem, 1.181rem + 0.3448vw, 1.375rem);
	background: #0463BA;
	border: 1px solid #0573DA;
	color: #ffffff;
	padding: 8px 36px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;

}

.button-submit:hover {
	color: #ffffff;
	background-color: #0085ff;
	border: 1px solid #3fa3ff;
}

/*++++++++++++++++++++-------++++++*/
/*+++++++++ Meet Our Team +++++++++*/
/*++++++++++++++++++++++-------++++*/
.meet-our-team {
	background: url(../images/background-meet-our-team.png) no-repeat top center;
	background-size: cover;
}

.team-pictures {
	width: 75%;
	border-radius: 15px;
	border: 1px solid #275caf;
	padding: 8px;
}

/*++++++++++++++++++++++++++*/
/*+++++++++ Footer +++++++++*/
/*++++++++++++++++++++++++++*/
footer {
	color: #ffffff;
	padding: 25px 0;
	font-size: 0.813rem;
	background-color: #041732;
}

.footer-link li {
	padding: 0 7px;
	display: inline;
	margin-bottom: 0;
	border-left: 1px solid #aaaaaa;
}

.footer-link ul {
	padding-left: 0;
	margin-bottom: 0;
}

.footer-link li:first-child {
	border: none;
}

.footer-link a {
	color: #ffffff;
	text-decoration: none;
}

.footer-link a:hover {
	color: #c6c6c6;
}

.social-link {
	text-align: right;
}

.facebook,
.twitter,
.youtube,
.in {
	padding: 12px;
	color: #FFFFFF;
	font-size: 1.25rem;
	text-decoration: none;
}

.facebook:hover,
.twitter:hover,
.youtube:hover,
.in:hover {
	color: #c6c6c6;
}

/*+++++++++++++++++++++++++++++++++++++*/
/*+++++++++* PAGE 01 :: Home *+++++++++*/
/*+++++++++++++++++++++++++++++++++++++*/
/*Head Slide Banner*/
.carousel-indicators [data-bs-target] {
	width: 15px !important;
	height: 15px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	border-radius: 50% !important;
	border: 2px solid #FFFFFF !important;
	background: transparent;
}

.slide-banner-head {
	position: absolute;
}

.background-banner01 {
	background: url(../images/home/banner01.png) no-repeat center;
	background-size: cover;
}

.background-banner02 {
	background: url(../images/home/banner02.png) no-repeat center;
	background-size: cover;
}

/*Content Home*/
.content-home {
	background: url(../images/background-content.png) no-repeat center;
	background-size: cover;
	border: 1px solid #071e45;
}

.block-building,
.data-network {
	height: 374px;
	padding: 30px;
	display: flex !important;
	align-content: space-between;
}

.block-building {
	background: url(../images/home/background-block-building.png) no-repeat center center;
	background-size: cover;
	border: 1px solid;
	border-image-source: linear-gradient(315deg, #73d8ac, #519adf, #2f5098);
	border-image-slice: 1;
	border-width: 1px;
}

.data-network {
	background: url(../images/home/background-data-network.png) no-repeat center center;
	background-size: cover;
	border: 1px solid;
	border-image-source: linear-gradient(to left, #165392, #135699);
	border-image-slice: 1;
	border-width: 1px;

}

.title-building,
.title-data-network {
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.button01-learn-more {
	background-color: #ffffff;
	color: #3793BA;
	padding: 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 1px solid #ffffff;
}

.button01-learn-more:hover {
	background-color: rgb(12 97 166 / 15%);
	color: #ffffff;
	border: 1px solid #ffffff;
}

.button02-learn-more {
	background-color: #1D3652;
	color: #ffffff;
	padding: 8px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	transition-duration: 0.4s;
	cursor: pointer;
	border: 1px solid #1D3652;
}

.button02-learn-more:hover {
	background-color: #0f447b;
	color: #ffffff;
	border: 1px solid #ffffff;
}

/*Our Partners*/
.our-partner {
	background: url(../images/home/our-partners/background-our-partners.png) no-repeat top center;
	padding: 80px 0 70px 0;
	background-size: cover;
}

/*+++++++++++++++++++++++++++++++++++++++*/
/*+++++++++ PAGE 02 :: About Us +++++++++*/
/*+++++++++++++++++++++++++++++++++++++++*/
.blocks-head-title01 {
	background: url(../images/about-us/background-head-title.png) no-repeat top center;
	background-size: cover;
}

.blocks-our-team {
	background: url(../images/about-us/background-our-team.png) no-repeat top center;
	background-size: cover;
	padding: 70px 0;
}

.card.our-team {
	background: linear-gradient(180deg, #045FB5 0%, #08457E 100%);
	box-shadow: 0px 6px 6px rgba(0, 27, 77, 0.5);
	border-radius: 15px;
	padding: 30px 10px;
	border: 1px solid #255889;
}

.text-team {
	height: 132px;
	text-align: center;
}

.text-position {
	color: #15FC7E;
	word-wrap: break-word;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.facebook-solid,
.twitter-solid,
.in-solid {
	background: transparent;
	color: #DBF4FF;
	border: 1px solid #DBF4FF;
	font-size: 1.20rem;
	width: 35px;
	text-align: center;
	text-decoration: none;
	margin-left: 3px;
	border-radius: 50%;
	height: 35px;
	padding: 8px;
	margin-top: 10px;
}

.facebook-solid:hover,
.twitter-solid:hover,
.in-solid:hover {
	background: rgb(255 255 255 / 50%);
	color: #FFFFFF;
	border: 1px solid #ffffff;
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++ PAGE 03 :: BUILDING BLOCKS +++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++*/
.building-blocks {
	background-color: #014694;
	padding: 42px;
	background: url(../images/background-building-blocks.png) no-repeat top center;
	background-size: cover;
	border: 1px solid;
	border-image-source: linear-gradient(to left, #165392, #135699);
	border-image-slice: 1;
	border-width: 1px;
	position: relative;
}

.building-blocks::before {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 352px;
	content: '';
	background: url(../images/building-blocks/pattern-bottom.png) no-repeat;
	background-position: left;
}

.building-blocks::after {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 100%;
	height: 352px;
	content: '';
	background: url(../images/building-blocks/pattern-top.png) no-repeat;
	background-position: right;
}

.building-blocks-icon {
	background: #002657;
	border: 1px dashed #0E428D;
	padding: 12px;
	font-size: clamp(0.95rem, 2vw, 1rem);
	height: 70px;
	line-height: 1.25rem;
}

.learn-more a {
	color: #ffffff;
	font-weight: 500;
	text-decoration: none;
	font-size: clamp(0.85rem, 2vw, 1rem);
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.learn-more a:hover {
	color: #0dcaf0;
}

.b-link a {
	color: #ffffff;
	text-decoration: none;
}

.b-link a:hover {
	color: #4bec8e;
}

/*++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++ PAGE 04 :: Blocks Use Case +++++++++*/
/*++++++++++++++++++++++++++++++++++++++++++++++*/
.blocks-head-title {
	background: url(../images/background-head-title.png) no-repeat top center;
	background-size: cover;
}

.blocks-head-arvic {
	background: url(../images/blocks-use-case/background-head-arvic.jpg) no-repeat top center;
	background-size: cover;
}

.blocks-head-beaut {
	background: url(../images/blocks-use-case/background-head-beaut.png) no-repeat center center;
	background-size: cover;
}

.blocks-head-nextcercise {
	background: url(../images/blocks-use-case/background-head-nextcercise.png) no-repeat center center;
	background-size: cover;
}

/*+++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++ PAGE 05 :: Data Network +++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++*/
.content-data-network {
	background: url(../images/data-network/background-data-network.png) no-repeat top center;
	background-size: cover;
	padding: 38px;
	border: 1px solid;
	border-image-source: linear-gradient(to left, #165392, #135699);
	border-image-slice: 1;
	border-width: 1px;
	height: 280px;
	position: relative;
}

.text-data-network {
	z-index: 2px;
	position: relative;
}

.icon-data-network {
	position: absolute;
	z-index: 0;
	bottom: 40px;
	right: 30px;
	width: 202px;
	opacity: 0.75;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++ PAGE 06 :: NEWS AND UPDATES +++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/
.blocks-head-news {
	background: url(../images/news-and-updates/background-head-news.jpg) no-repeat center center;
	background-size: cover;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: transparent;
	background-clip: border-box;
	border: none;
	border-radius: 0px;
	font-family: 'Kanit', sans-serif;
}

.card-img-news {
	border-radius: 0.25rem;
}

.img-news-slide {
	position: relative;
}

.img-news-slide::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
	z-index: 0;
	border-radius: 0 0 0.25rem 0.25rem;

}

.detail-news-slide {
	position: absolute;
	bottom: 0;
}

.card-body {
	flex: 1 1 auto;
	padding: 1rem 0;
}

.card-text:last-child {
    margin-bottom: 0;
    margin-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    line-height: 25px;
}

.tag {
	position: absolute;
	right: 6px;
	top: 6px;
	background: #E2382F;
	border-radius: 0.25rem !important;
	text-align: center;
	font-weight: 500;
	font-size: 0.9375rem;
	padding: 3px 12px;
	text-transform: uppercase;
	border: 1px solid #d40707;
}

.tag-type {
	background: #E2382F;
	border-radius: 0.25rem !important;
	text-align: center;
	font-weight: 500;
	font-size: 0.9375rem;
	padding: 3px 12px;
	text-transform: uppercase;
	border: 1px solid #d40707;
}

.title-news {
	color: #55EBFF;
	text-transform: uppercase;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.title-news:hover {
    color: #00ffaf;
    text-transform: uppercase;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
.text-time-date {
	color: #ffffff;
	padding: 8px 0;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.link-card-news a{color: #ffffff; text-decoration: none;}
article > p {
	height: 4.65em;
	white-space: wrap;
	/*text-overflow: ellipsis;
	overflow: hidden;*/
}


.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
	color: #071938;
	background-color: #0d6efd;
	background: linear-gradient(90deg, #A6D186 0%, #44A0BA 50%, #0464BA 100%);
	border-radius: 100px;
	font-weight: 600;
	border: 1px solid #071938;
}

.nav-pills .nav-link {
	background: 0 0;
	border: 0;
	border-radius: 6.25rem;
	border: 1px solid #EEEEEE;
	margin-right: 12px;
	color: #EEEEEE;
	text-transform: uppercase;
	margin-bottom: 10px;
	width: 112px;
}

.page-link:focus {
	z-index: 3;
	color: #ffffff;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
	background-color: transparent;
	font-weight: 600;
}

.page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: transparent;
	border-color: transparent;
	font-weight: 700;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	border: 1px solid;
	padding: 8px 15px;
}

.page-item.disabled .page-link {
	z-index: 3;
	color: #ffffff;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
	background-color: transparent;
	border: 1px solid transparent;
}

.page-link {
	padding: 5px 12px;
	border: 1px solid transparent;
	background-color: transparent;
	text-decoration: none;
	color: #999;
	width: 32px;
}

.page-link.active {
	background-color: #333;
	color: #fff;
}

.page-link:hover {
	z-index: 2;
	color: #ffffff;
	background-color: transparent;
	font-weight: 700;
	border: 1px solid transparent;
}


.page-item:last-child .page-link {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	padding: 7px 12px;
	margin: 0 5px;
}


@media (min-width: 1334px)and (max-width:1399px) {
	.h-space-text {
		height: 81px;
	}

}

@media (max-width: 1200px) {

	/*+++++++++++++++++++++++++++++++++++++*/
	/*+++++++++* PAGE 01 :: Home *+++++++++*/
	/*+++++++++++++++++++++++++++++++++++++*/
	/**************/
	/*Content Home*/
	/**************/
	.block-building,
	.data-network {
		height: 400px;
		padding: 35px 10px 40px 10px;
	}

	.forms-meet-ourteam {
		padding: 0 10px;
	}

	/*+++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 02 :: About Us +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++*/
	.team-pictures {
		width: 100%;
	}

	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 04 :: Blocks Use Case +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.w-blocks-use-case {
		width: 175px;
	}

	.position-content {
		display: flex !important;
		align-items: center !important;
	}
}

@media (min-width: 992px)and (max-width:1199px) {

	/*+++++++++++++++++++++++++++++++++++++*/
	/*+++++++++* PAGE 01 :: Home *+++++++++*/
	/*+++++++++++++++++++++++++++++++++++++*/
	/*Head Slide Banner*/
	.carousel-indicators [data-bs-target] {
		width: 14px !important;
		height: 14px !important;
		margin-left: 4px !important;
		margin-right: 4px !important;
		margin-bottom: -5px !important;

	}

	/*Content Home*/
	.block-building,
	.data-network {
		height: 400px;
		padding: 35px 10px 40px 10px;
	}


	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 03 :: BUILDING BLOCKS +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.building-blocks {
		padding: 30px 24px;
	}

	.h-space-text {
		height: 108px;
	}

	.building-blocks-icon {
		height: 90px;
	}

	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 04 :: Blocks Use Case +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.position-content {
		display: flex !important;
		align-items: center !important;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 05 :: Data Network +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++*/
	.content-data-network {
		height: 330px;
		padding: 38px 20px;
	}

	.icon-data-network {
		bottom: 15px;
		right: 15px;
		width: 150px;
	}
}

@media (min-width: 768px)and (max-width:991px) {
	.space-padding {
		padding: 40px 0 50px 0;
	}

	/*Footer*/
	footer {
		padding: 25px 0 12px 0;
	}

	footer,
	.social-link {
		text-align: center;
	}

	/*+++++++++++++++++++++++++++++++++++++*/
	/*+++++++++* PAGE 01 :: Home *+++++++++*/
	/*+++++++++++++++++++++++++++++++++++++*/
	/*Head Slide Banner*/
	.carousel-indicators [data-bs-target] {
		width: 12px !important;
		height: 12px !important;
		margin-left: 3px !important;
		margin-right: 3px !important;
		margin-bottom: -5px !important;
		border: 1px solid #FFFFFF !important;
	}


	/*Content Home*/
	.block-building,
	.data-network {
		height: 515px;
		padding: 35px 15px 40px 15px;
	}


	/*Our Partners*/
	.our-partner {
		padding: 40px 0;
	}

	/*+++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 02 :: About Us +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++*/
	.blocks-our-team {
		padding: 50px 0;
	}


	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 03 :: BUILDING BLOCKS +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.building-blocks {
		padding: 25px 12px;
	}

	.w-img-content {
		width: 600px;
	}

	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 04 :: Blocks Use Case +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.w-blocks-use-case {
		width: 135px;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 05 :: Data Network +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++*/
	.content-data-network {
		height: 380px;
		padding: 38px 20px;
	}

	.icon-data-network {
		bottom: 15px;
		right: 15px;
		width: 150px;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 06 :: NEWS AND UPDATES +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++++++*/
	.img-news-slide {
		position: relative;
	}

	.detail-news-slide {
		position: relative;
		bottom: auto;
		background-color: #002e56;
		padding: 15px;
		border-radius: 0 0 0.25rem 0.25rem;
	}

	.carousel-indicators.dot-slide {
		bottom: -32px;
	}

	.card-img-news {
		border-radius: 0.25rem 0.25rem 0 0;
	}
}

@media (min-width: 576px)and (max-width:767px) {
	.space-padding {
		padding: 40px 0 50px 0;
	}

	/*Content Home*/
	.block-building,
	.data-network {
		height: 515px;
		padding: 35px 15px 40px 15px;
	}

	/*Footer*/
	footer {
		padding: 25px 0 12px 0;
	}

	footer,
	.social-link {
		text-align: center;
	}

	/*+++++++++++++++++++++++++++++++++++++*/
	/*+++++++++* PAGE 01 :: Home *+++++++++*/
	/*+++++++++++++++++++++++++++++++++++++*/
	/*Head Slide Banner*/
	.carousel-indicators [data-bs-target] {
		width: 8px !important;
		height: 8px !important;
		margin-left: 3px !important;
		margin-right: 3px !important;
		margin-bottom: -10px !important;
		border: 1px solid #FFFFFF !important;
	}

	/*Content Home*/
	.block-building,
	.data-network {
		height: auto;
		padding: 35px 10px 40px 10px;
	}

	/*Our Partners*/
	.our-partner {
		padding: 40px 0;
	}

	/*+++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 02 :: About Us +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++*/
	.blocks-our-team {
		padding: 50px 0;
	}

	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 03 :: BUILDING BLOCKS +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.building-blocks {
		padding: 25px 12px;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 05 :: Data Network +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++*/
	.content-data-network {
		padding: 25px;
		height: auto;
	}

	.icon-data-network {
		bottom: 15px;
		right: 15px;
		width: 150px;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 06 :: NEWS AND UPDATES +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++++++*/
	.img-news-slide {
		position: relative;
	}

	.detail-news-slide {
		position: relative;
		bottom: auto;
		background-color: #002e56;
		padding: 15px;
		border-radius: 0 0 0.25rem 0.25rem;
	}

	.carousel-indicators.dot-slide {
		bottom: -32px;
	}

	.card-img-news {
		border-radius: 0.25rem 0.25rem 0 0;
	}

}

@media (max-width: 575px) {
	.space-padding {
		padding: 40px 0 50px 0;
	}


	/*Footer*/
	footer {
		padding: 25px 0 12px 0;
	}

	footer,
	.social-link {
		text-align: center;
	}

	/*+++++++++++++++++++++++++++++++++++++*/
	/*+++++++++* PAGE 01 :: Home *+++++++++*/
	/*+++++++++++++++++++++++++++++++++++++*/
	/*Head Slide Banner*/
	.carousel-indicators [data-bs-target] {
		width: 8px !important;
		height: 8px !important;
		margin-left: 3px !important;
		margin-right: 3px !important;
		margin-bottom: -10px !important;
		border: 1px solid #FFFFFF !important;
	}

	/*Content Home*/
	.block-building,
	.data-network {
		height: auto;
		padding: 35px 10px 40px 10px;
	}

	/*Our Partners*/
	.our-partner {
		padding: 40px 0;
	}

	/*+++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 02 :: About Us +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++*/
	.text-team {
		height: 120px;
	}

	.blocks-our-team {
		padding: 50px 0;
	}

	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 03 :: BUILDING BLOCKS +++++++++*/
	/*++++++++++++++++++++++++++++++++++++++++++++++*/
	.building-blocks {
		padding: 25px 12px;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 05 :: Data Network +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++*/
	.content-data-network {
		padding: 25px 25px;
		height: auto;
	}

	.icon-data-network {
		position: absolute;
		z-index: 0;
		bottom: 15px;
		right: 15px;
		width: 150px;

	}

	/*+++++++++++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 06 :: NEWS AND UPDATES +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++++++++++*/
	.card-img-news {
		border-radius: 0.25rem 0.25rem 0 0;
	}

	.img-news-slide {
		position: relative;
	}

	.detail-news-slide {
		position: relative;
		bottom: auto;
		background-color: #002e56;
		padding: 15px;
		border-radius: 0 0 0.25rem 0.25rem;
	}

	.carousel-indicators.dot-slide {
		bottom: -32px;
	}

	.carousel-indicators.dot-slide [data-bs-target] {
		width: 12px !important;
		height: 12px !important;
	}

	.nav {
		justify-content: center;
	}
}

@media (max-width: 375px) {

	/*+++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 02 :: About Us +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++*/
	.text-team {
		height: 120px;
	}
}

@media (max-width: 320px) {

	/*+++++++++++++++++++++++++++++++++++++++*/
	/*+++++++++ PAGE 02 :: About Us +++++++++*/
	/*+++++++++++++++++++++++++++++++++++++++*/
	.text-team {
		height: 135px;
	}
}
